.header-wrapper {
    padding: 0.4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-icon {
    font-size: 1.7rem;
    color: var(--mainYellow);
    cursor: pointer;
}


.link-wrapper {
    height: 152;
    list-style: none;
}

.link-wrapper-open {
    height: 152px;
    transition: all .8s ease-in-out;
    overflow: hidden;
}

.link-wrapper-close {
    height: 0;
    transition: all .8s ease-in-out;
    overflow: hidden;
}

.icon-wrapper {
    display: none;
}

.nav-link {
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: var(--mainGrey);
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.nav-link:hover {
    background: var(--mainGrey);
    color: var(--mainWhite);
    padding: 0.5rem 1rem 0.5rem 2rem;
}

@media only screen and (min-width: 768px){
    .navbar-wrapper {
        display: flex;
        align-items: center;
    }

    .toggle-icon {
        display: none;
        font-size: 1.3rem;
        cursor: pointer;
        transition: all .2s ease-in-out;
        color: var(--mainGrey);
    }

    .link-wrapper {
        height: auto;
        display: flex;
        margin: 0 auto;
    }

    .link-wrapper-close {
        height: auto ;
        overflow: visible ;
    }

    .nav-link:hover {
        background: var(--mainWhite) ;
        color: var(--mainYellow) ;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .icon-wrapper {
        display: flex;
        justify-content: space-around;
        width: 10rem;
    }
    
    .icon {
        font-size: 1.5rem;
        color: var(--mainGrey);
        transition: all .2s ease-in-out;
    }

    .icon:hover {
        color: var(--mainYellow)
    }

    /* .facebook-icon {
        color: #3b579d;
    }

    .twitter-icon {
        color: #3ab7f0;
    }

    .instagram-icon {
        color: #da5f53;
    } */
}