.food-list {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 3rem;
}

@media only screen and (min-width:576px) {
    .food-list {
        grid-template-columns: 95%;
    }
}

@media only screen and (min-width:776px) {
    .food-list {
        grid-template-columns: 80%;
        justify-content: center;
    }
}

@media only screen and (min-width:992px) {
    .food-list {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }
}